*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
}

#wrapper{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_header{
    width: 60%;
    margin: 25px 0px;
    text-align: center;
}

.main_content{
    width: 100%;
    /* height: 500px; */
    margin: 0px 0px;
}

.text_container{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.user_guess_box{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess_btn{
    margin: 10px;
}

.incorrect_guess{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: white;
    border: 2px solid black;
}

.success_guess{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    color: white;
    border: 2px solid black;
}

.success_guess h1{
    height: 120px;
}

